.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  gap: 40px;
}

.nav-items {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  align-items: center;
}

.nav-brand a {
  color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: none;
}

.nav-item {
  cursor: pointer;
}

.nav-item a {
  padding: 10px 20px;
}

.nav-items a:hover {
  border-bottom: 1px solid #0290ff;
}

.active {
  border-bottom: 1px solid #0290ff;
}

.nav-item .brand:hover {
  border-bottom: none;
}

.userIcon {
  color: #0290ff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  background-color: #fff;
  border: 1px solid #0290ff;
  cursor: pointer;
}
